<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>State Channels</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <input type="password" [(ngModel)]="privateKey" placeholder="Your privateKey">
      <button class="btn btn-info" (click)="unlockWallet()">Unlock Wallet</button>
      <button class="btn btn-info" (click)="revealLastMove()">Reveal Move</button>
      <input type="text" [(ngModel)]="contractAddress" placeholder="Contract Address">
      <input type="text" [(ngModel)]="ethersDeposit" placeholder="Ethers Deposit">
      <button class="btn btn-info" (click)="openChannel()">Open Channel</button>
      <button class="btn btn-info" (click)="joinChannel()">Join Channel</button>
      <button class="btn btn-info" (click)="closeChannel()">Close Channel</button>
      <button class="btn btn-info" (click)="claimPrize()">Claim Prize</button>
    </div>
  </div>
  <div class="row" id="walletBalance">
    <div class="col-12 text-center">
      <p>{{ balance }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <button class="btn btn-info" (click)="rock()">rock</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <button class="btn btn-info" (click)="paper()">paper</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <button class="btn btn-info" (click)="scissors()">scissors</button>
    </div>
  </div>
  <div class="row" id="info">
    <div class="col-12 text-center">
      <p>{{ stateText }}</p>
    </div>
  </div>
  <br>
  <div class="row" id="turnInfo">
    <div class="col-12 text-center">
      <p>{{ turnInfo }}</p>
    </div>
  </div>
  <br>
</div>
