<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>State Channels</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <input type="text" [(ngModel)]="privateKey" placeholder="Your privateKey">
      <button class="btn btn-info" (click)="functionButton1()">Button1</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <button class="btn btn-info" (click)="functionButton2()">Button1</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center state-col">
      <button class="btn btn-info" (click)="functionButton3()">Button1</button>
    </div>
  </div>
  <br>
</div>